asarPy
asgiref
async-timeout
attrs
autobahn
Automat
autopep8
cffi
channels
channels-redis
constantly
cryptography
daphne
Django
django-allauth
django-cleanup
django-cors-headers
django-htmx
djangorestframework
djangorestframework-simplejwt
hyperlink
idna
importlib-metadata
incremental
msgpack
Pillow
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyJWT
pyOpenSSL
pytz
redis
service-identity
shortuuid
six
sqlparse
toml
Twisted
txaio
typing_extensions
zipp
zope.interface
