asarPy
asgiref
async-timeout
attrs
autobahn
Automat
autopep8
beautifulsoup4
cffi
channels
channels-redis
constantly
cryptography
daphne
Django
django-allauth
django-bootstrap-v5
django-cleanup
django-cors-headers
django-htmx
djangorestframework
djangorestframework-simplejwt
hyperlink
idna
importlib_metadata
incremental
msgpack
pillow
pyasn1
pyasn1_modules
pycodestyle
pycparser
PyJWT
pyOpenSSL
pytz
redis
service-identity
setuptools
shortuuid
six
soupsieve
sqlparse
toml
Twisted
txaio
typing_extensions
zipp
zope.interface
